node-red.json
[{"id":"70930b2c.c1114c","type":"udp in","z":"7cab27a3.ee14","name":"","iface":"","port":"5005","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":86.5,"y":192.5,"wires":[["269ac430.8036d4"]]},{"id":"aa5289fa.f75488","type":"debug","z":"7cab27a3.ee14","name":"","active":true,"console":"false","complete":"false","x":664.5,"y":191,"wires":[]},{"id":"269ac430.8036d4","type":"json","z":"7cab27a3.ee14","name":"","x":246.5,"y":193.5,"wires":[["91589d8.473ace"]]},{"id":"91589d8.473ace","type":"function","z":"7cab27a3.ee14","name":"Parse Data","func":"var MaxNorthPosition = 8388607;\nvar MaxSouthPosition = 8388608;\nvar MaxEastPosition = 8388607;\nvar MaxWestPosition = 8388608;\nvar temp;\nvar str_hex = msg.payload.data;\n\nvar bytes = new Buffer(str_hex, 'hex');\n\n// Get LED status - Byte 0\nvar led = bytes.readUInt8(0);\nnode.log(\"LED:\" + led.toString(10));\n\n// Get Temperature - Byte 3, 4\nvar temperature = bytes.readInt16BE(3) / 100;\nnode.log(\"temperature:\" + temperature.toString(10) + \"°C\");\n\n// Get Latitude - Byte 8, 9, 10\ntemp = bytes.readInt32BE(7) & 0x00FFFFFF; // latiture start at offset 8\nif (temp >= 0) // North\n{\n    var latitude = temp * 90 / MaxNorthPosition;\n}\nelse\n{\n    var latitude = temp * 90 / MaxSouthPosition;\n}\nnode.log(\"latitude:\" + latitude.toString(10));\n\n// Get Longitude - Byte 11, 12, 13\ntemp = bytes.readInt32BE(10) & 0x00FFFFFF; // latiture start at offset 11\nif (temp >= 0) // East\n{\n    var longitude = temp * 180 / MaxEastPosition;\n}\nelse\n{\n    var longitude = temp * 180 / MaxWestPosition;\n}\nnode.log(\"longitude:\" + longitude.toString(10));\n\n// Get Altitude - Byte 14, 15\nvar altitude = bytes.readUInt16BE(14)\nnode.log(\"altitude:\" + altitude.toString(10) + \"m\");\n\nreturn msg;","outputs":1,"noerr":0,"x":444.5,"y":192.5,"wires":[["aa5289fa.f75488"]]}]
